@import "../../app-variables";
@import '../../mixins';

.landing-page {
    background-image: url('/assets/background.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
    display: flex;
    overflow-y: auto;
}

.landing-page-message {
    p {
        font-size: 45px;
        font-family: 'Righteous', cursive;
        color: white;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 3rem;
    }

    button,
    button:active {
        box-shadow: #4350b1 0px 5px 15px;
        border-color: #4350b1;
        background-color: #4350b1;
        border-radius: 31px;
        padding: 1rem 2rem;
        font-size: 0.8rem;
        letter-spacing: 0.130rem;
        margin-top: 1rem;
    }
}

.login-form,
.signup-form {
    min-width: 12rem;
    padding: 1rem;
    min-height: 18rem;

    .mat-form-field {
        width: 100%;
    }

    [type="submit"] {
        width: 48%;
        margin-right: 5px;
    }

    .form-group:nth-child(5) {
        @include flexContainer(space-between, center);
    }

    .form-submit-btns-container {
        margin-bottom: 0;

        button {
            flex: 1;
            font-size: 16px;
            letter-spacing: 1px;
            min-width: 45%;
        }
    }

    .btn-default {
        border: 1px solid lightgray;
        margin-left: 10px;
    }

    .form-group:not(:nth-child(5)) {
        margin-bottom: 0;
    }

    .form-group:last-of-type p {
        margin-top: 1rem;
    }
}

.login-error.alert {
    align-items: center;
    white-space: nowrap;
    padding: 11px 14px;
    font-size: 12px;
    margin-bottom: 1rem !important;

    .close {
        font-size: 12px;
    }
}

.login-form .form-submit-btns-container {
    margin-top: 10px;
}

.signup-form {

    .mat-icon:not(:first-of-type) {
        cursor: pointer;
    }

    .form-submit-btns-container {
        margin-top: 15px;
    }
}

.login-form .remember-me {
    padding-top: 10px;
}

.oauth-btns-container {
    display: flex;
    align-items: center;
}

.oauth-btns-container button {
    margin-top: 15px;
    color: white;
    display: flex;
    font-size: 12px !important;
    align-items: center;
    outline: none;
    box-shadow: none;
    flex: 1;
}

.oauth-btns-container button.facebook {
    background: #1877f2;
    border: 1px solidi #1877f2;
    color: white;
    margin-left: 5px;
}

.oauth-btns-container button.google {
    color: white;
    background-color: #dd4b39;
    border: 1px solid #dd4b39;
}

.password-field .mat-icon {
    cursor: pointer;
}


@media only screen and (min-width: 600px) {
    .landing-page {
        padding-left: 7rem;
        align-items: center;
    }
}

@media only screen and (max-width:600px) {

    .login-form,
    .signup-form {
        min-height: 20rem;
    }

    .landing-page {
        background-position: 77% 0%;
        background-size: 300% 100%;
        background-repeat: no-repeat;
        position: relative;
    }

    .landing-page-message {
        padding: 1rem;
        text-align: right;
        width: 100%;

        p {
            font-size: 30px;
            line-height: 5vh;
        }

        button {
            position: absolute;
            bottom: 10%;
            right: 50%;
            transform: translateX(50%);
            min-width: 70vw;
            height: 8vh;
            max-width: 70vw;
        }
    }
}