<div class="login-page flex-center">
    <div class="login-container flex">
        <div class="welcome-div">

        </div>
        <div class="forms-slider" id="forms-slider">
            <!--sliding signup form-->
            <div class="signup-form" [hidden]="!formsToggle">
                <form>
                    <h3 class="text-center">
                        Register User
                    </h3>
                    <div class="form-group">
                        <label for="">Email</label>
                        <div class="input-container flex">
                            <input type="text" placeholder="Enter email" class="form-control">
                            <span class="icon">
                                <mat-icon>email</mat-icon>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <div class="input-container flex">
                            <input type="text" placeholder="Enter password" class="form-control">
                            <span class="icon">
                                <mat-icon>lock</mat-icon>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Confirm Password</label>
                        <div class="input-container flex">
                            <input type="text" placeholder="Enter confrim password" class="form-control">
                            <span class="icon">
                                <mat-icon>lock</mat-icon>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-bar btn-sm login-btn">
                            SIGNUP
                        </button>
                    </div>
                    <div class="form-group">
                        <p class="flex-center">
                            Already a member? &nbsp;
                            <a class="signup" (click)="slidePage()">
                                Click here&nbsp;
                            </a>
                            to login
                        </p>
                    </div>
                </form>
            </div>

            <!--login-form-->
            <div class="login-form" [hidden]="formsToggle">
                <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
                    <h3 class="text-center">
                        User Login
                    </h3>
                    <div class="form-group">
                        <label for="">Username</label>
                        <div class="input-container flex">
                            <input type="text" formControlName="username" placeholder="Enter username"
                                class="form-control">
                            <span class="icon">
                                <mat-icon>account_circle</mat-icon>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <div class="input-container flex">
                            <input type="text" formControlName="password" placeholder="Enter password"
                                class="form-control">
                            <span class="icon">
                                <mat-icon>lock</mat-icon>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-bar btn-sm login-btn">
                            LOGIN
                        </button>
                    </div>
                    <div class="form-group">
                        <p class="flex-center">
                            New member? &nbsp;
                            <a class="signup" (click)="slidePage()">
                                Click here&nbsp;
                            </a>
                            to signup
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>