@import "./app-variables";
@import "./mixins.scss";

/**/
#spinner-parent {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    @include flexContainer(center, center);
}

.timeout-dialog__parent {

    position: fixed;
    width: 100vw;
    height: 100vh;
    @include flexContainer(center, center);
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;

    .timrout-dialog {
        height: auto;
        width: 20rem;
        background: #fff;
        border: 0.065rem solid lightgray;

        .modal-header,
        .modal-body {
            padding: 1rem 2rem;
        }

        .modal-footer {
            justify-content: center;
            padding: 1.5rem 2rem;

            button {
                border-radius: 0;
                margin: 0;

                &.btn-default {
                    border: 0.065rem solid lightgray;
                    margin-left: 1rem;
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile-device) {
    .burger-menu {
        display: block;
    }
}