<div class="login-form" [@formVisibilityState]="mounted">
    <form [formGroup]="loginForm" (ngSubmit)="validateLoginForm(loginForm)">
        <h3 class="text-center">
            User Login
        </h3>
        <div (click)="loginErrorMsg = ''" class="login-error alert alert-danger h6 flex justify-content-space-btwn"
            *ngIf="loginErrorMsg">
            {{loginErrorMsg}}
            <span class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </span>
        </div>
        <div class="form-group">
            <div class="input-container">
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" name="loginUser" placeholder="Enter username"
                        [errorStateMatcher]="matcher" autocomplete="off" spellcheck="false">
                    <mat-icon matSuffix>account_circle</mat-icon>
                    <mat-error *ngIf="loginFormErr.username">
                        {{loginFormErr.username}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group">
            <div class="input-container password-field">
                <mat-form-field appearance="outline">
                    <mat-label>
                        Password
                    </mat-label>
                    <input #password type="password" (keyup.Enter)="loginForm.valid && loginBtn.click()" matInput
                        formControlName="password" name="loginUser" [errorStateMatcher]="matcher"
                        placeholder="Enter username" autocomplete="off" spellcheck="false">
                    <mat-icon matSuffix *ngIf="password.type === 'password'" (click)="password.type='text'">
                        visibility_off
                    </mat-icon>
                    <mat-icon matSuffix *ngIf="password.type === 'text'" (click)="password.type = 'password'">
                        visibility
                    </mat-icon>
                    <mat-error *ngIf="loginFormErr.password">
                        {{loginFormErr.password}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group remember-me">
            <div class="input-container">
                <mat-checkbox class="example-margin">
                    Remember me
                </mat-checkbox>
            </div>
        </div>
        <div class="form-group form-submit-btns-container">
            <button type="submit" class="btn btn-primary btn-bar btn-sm login-btn" #loginBtn>
                LOGIN
            </button>
            <button type="button" mat-dialog-close class="btn btn-default btn-bar btn-sm login-btn">
                CANCEL
            </button>
        </div>
    </form>
    <div class="h6 oauth-btns-container">
        <button type="button" class="btn btn-block google text-nowrap" (click)="signInWithGoogle()">
            <span class="fa fa-google"></span>
            &nbsp;&nbsp;Google login
        </button>
        <button disabled type="button" class="btn btn-block facebook text-nowrap" (click)="signInWithGoogle()">
            <span class="fa fa-facebook"></span>
            &nbsp;&nbsp;Facebook login
        </button>
    </div>
    <div class="form-group">
        <p class="flex-center">
            New member? &nbsp;
            <a class="signup" (click)="switchForms()">
                Click here&nbsp;
            </a>
            to signup
        </p>
    </div>
</div>