<div class="posts-container-page">
    <div class="wall-section">
        <div class="wall-post-input__parent">
            <textarea placeholder="write something" name="" id="" cols="30" rows="10"></textarea>
            <button class="btn">POST</button>
        </div>
        <div class="wall-post-list__parent">
            <div class="wall-post-list" *ngFor="let post of [1,2,3,4]">
                <div class="wall-post">
                    wallpost
                </div>
            </div>
        </div>
    </div>
</div>