@import "../../app-variables";
@import "../../mixins";

.edit-profile-container {
    @include flexContainer(flex-start, stretch);
    height: auto;
    background: #dde1e7;
    position: relative;

    .edit-profile-left__parent {
        border-right: 1px solid lightgray;
        min-width: 18rem;
        min-height: 100%;

        .profile-picture-container {
            min-height: 18rem;

            .profile-pic-change-btn {
                @include button;
                font-size: 0.7rem;
                padding: 0.5rem 1rem;
                letter-spacing: 0.06rem;
                margin-top: 1rem;
            }

            .img-container {
                height: 100%;
                @include flexContainer(center, center);
                padding-top: 3rem;

                .mat-icon {
                    height: 10rem;
                    font-size: 10rem;
                    width: 10rem;
                }
            }
        }

        .profile-links-container__parent {
            height: 12rem;
            @include flexContainer(center, flex-start);

            ul {
                margin-left: 0;
                padding-left: 0;

                li {
                    margin-top: 1rem;
                    cursor: pointer;

                    &:hover {
                        color: #888;
                    }
                }
            }
        }
    }

    .edit-profile-right__parent {
        flex: 1;
        height: 100%;
        min-height: 30rem;
        padding: 3rem 7rem;

        .edit-profile-header {
            @include flexContainer(space-between, center);
            height: 5rem;
            padding-right: 4rem;
            margin-bottom: 2rem;

            p {
                letter-spacing: 0.05rem
            }

            .edit-btn {
                @include button;
                letter-spacing: 0.05rem;
            }
        }

        .edit-profile-form-container {
            height: calc(100% - 5rem);
            padding-bottom: 2rem;

            .mat-form-field {
                width: 90%;
                min-width: 20rem;

                .mat-form-field-flex {
                    background: transparent;
                    border: 1px solid lightgray;
                }
            }

            .address-details-heading {
                margin: 1rem 0 2rem 0;
                padding-left: 0.5rem;

                p {
                    letter-spacing: 0.05rem;
                }
            }

            .gender-input__parent {
                @include flexContainer(space-between, flex-start);
                padding: 1rem 6.5rem 1rem 1rem;

                .mat-radio-group {
                    white-space: nowrap;
                }

                .mat-radio-button {
                    margin-left: 1.5rem;
                }
            }
        }
    }
}


//=============================edit profile responsive======================//

@media only screen and (max-width:600px) {
    .edit-profile-container {
        flex-direction: column;

        .edit-profile-left__parent {

            @include flexContainer(flex-start, center);
            flex-direction: column;

            .profile-picture-container {
                order: 1;
            }

            .profile-links-container__parent {
                max-height: 4rem;

                .list-group {
                    flex-direction: row;

                    .item {
                        margin-left: 1rem;
                    }
                }
            }
        }

        .edit-profile-right__parent {
            padding: 3rem;

            .edit-profile-header {
                padding-right: 0;

                p {
                    font-size: 1.1rem;
                }
            }
        }
    }
}