<div class="edit-profile-container">
    <div class="edit-profile-left__parent">
        <div class="profile-picture-container">
            <div class="img-container">
                <mat-icon>
                    account_circle
                </mat-icon>
            </div>
            <div class="profile-change-btn__parent text-center">
                <button class="btn profile-pic-change-btn">
                    Update profile picture
                </button>
            </div>
        </div>
        <div class="profile-links-container__parent">
            <ul class="list-group">
                <li class="list-group item">Profile</li>
                <li class="list-group item">Settings</li>
            </ul>
        </div>
    </div>
    <div class="edit-profile-right__parent">
        <div class="edit-profile-header">
            <p class="h5 mx-0 text-left text-nowrap">
                Personal Information
            </p>
            <button class="edit-btn btn ">
                Update
            </button>
        </div>
        <div class="edit-profile-form-container">
            <form>
                <div class="personal-information">
                    <!--first name-->
                    <div class="row">
                        <div class="col-lg-6">
                            <mat-form-field appearance="outline">
                                <mat-label>
                                    First Name
                                </mat-label>
                                <input type="text" matInput name="firstName" placeholder="Enter first name"
                                    autocomplete="off" spellcheck="false">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 gender-input__parent">
                            <label>
                                Gender&nbsp;
                            </label>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1">
                                    Male
                                </mat-radio-button>
                                <mat-radio-button value="2">
                                    Female
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <!--middle name-->
                    <div class="row">
                        <div class="col-lg-6">
                            <mat-form-field appearance="outline">
                                <mat-label>
                                    Middle Name
                                </mat-label>
                                <input type="text" matInput name="middleName" placeholder="Enter middle name"
                                    autocomplete="off" spellcheck="false">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field appearance="outline">
                                <mat-label>
                                    Email
                                </mat-label>
                                <input type="text" matInput name="email" placeholder="Enter email" autocomplete="off"
                                    spellcheck="false">
                            </mat-form-field>
                        </div>
                    </div>
                    <!--last name-->
                    <div class="row">
                        <div class="col-lg-6">
                            <mat-form-field appearance="outline">
                                <mat-label>
                                    Last Name
                                </mat-label>
                                <input type="text" matInput name="lastName" placeholder="Enter last name"
                                    autocomplete="off" spellcheck="false">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field appearance="outline">
                                <mat-label>
                                    Primary Phone
                                </mat-label>
                                <input type="text" matInput name="lastName" placeholder="Enter phone number"
                                    autocomplete="off" spellcheck="false">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row h5 address-details-heading">
                        <p class="h5">
                            Address Details
                        </p>
                    </div>
                    <!--gender-->
                    <div class="row">
                        <div class="col-lg-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Country</mat-label>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let country of ['india', 'america','japan']" [value]="country">
                                        {{country}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field appearance="outline">
                                <mat-label>
                                    Pincode
                                </mat-label>
                                <input type="text" matInput name="pincode" placeholder="Enter pincode"
                                    autocomplete="off" spellcheck="false">
                            </mat-form-field>
                        </div>
                    </div>
                    <!--email-->
                    <div class="row">
                        <div class="col-lg-6">
                            <mat-form-field appearance="fill">
                                <mat-label>State</mat-label>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let state of ['india', 'america','japan']" [value]="state">
                                        {{state}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Address details</mat-label>
                                <textarea matInput placeholder="Enter adddress or landmark" rows="3"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <!--phone-->
                    <div class="row">
                        <div class="col-lg-6">
                            <mat-form-field appearance="fill">
                                <mat-label>City</mat-label>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let city of ['india', 'america','japan']" [value]="city">
                                        {{city}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">

                        </div>
                    </div>
                </div>
                <div class="address-details">

                </div>
            </form>
        </div>
    </div>
</div>