<div id="chat-left-component-container">
    <div class="search-friends-container">
        <search-component (onInputChange)="filterUsersToChat($event)"></search-component>
    </div>
    <div class="prev-chat-list-container__parent">
        <div class="prev-chat-user-detail__parent" *ngFor="let user of prevChatFiltered"
            (click)="selectUserToChat(user)">
            <div class="user-icon__component" [imageURL]="user.imgURL"></div>
            <div class="prev-chat-user-labels__parent">
                <p>
                    {{user.email}}
                </p>
                <p class="status chat-status-label" [class.online]="user.status ==='ONLINE'"
                    [class.offline]="user.status ==='OFFLINE'">
                    {{user.status}}
                </p>
            </div>
        </div>
    </div>
</div>