@import "../../../app-variables";
@import "../../../mixins";


.user-profile {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 1px solid lightgray;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


.edit-profile-container {
    @include flexContainer(flex-start, stretch);
    height: auto;
    background: #dde1e7;
    position: relative;

    .edit-profile-left__parent {
        border-right: 1px solid lightgray;
        min-width: 18rem;
        min-height: 100%;

        .profile-picture-container {
            min-height: 18rem;
            padding: 2rem 1rem;

            .profile-pic-change-btn {
                @include button;
                font-size: 0.7rem;
                padding: 0.5rem 1rem;
                letter-spacing: 0.06rem;
                margin-top: 1rem;
            }

            .img-container {
                height: 100%;
                @include flexContainer(center, center);
                padding-top: 3rem;
                margin-bottom: 1rem;

                .mat-icon {
                    height: 10rem;
                    font-size: 10rem;
                    width: 10rem;
                }
            }
        }

        .profile-links-container__parent {
            height: 12rem;
            @include flexContainer(center, flex-start);

            ul {
                margin-left: 0;
                padding-left: 0;

                li {
                    margin-top: 1rem;
                    cursor: pointer;

                    &:hover {
                        color: #888;
                    }
                }
            }
        }
    }

    .edit-profile-right__parent {
        flex: 1;
        height: 100%;
        min-height: 30rem;
        padding: 3rem 7rem;

        .edit-profile-header {
            @include flexContainer(space-between, center);
            height: 5rem;

            p {
                letter-spacing: 0.05rem
            }

            .edit-btn {
                @include button;
                letter-spacing: 0.05rem;
            }
        }

        //==============================EDIT PROFILE FORM===================//
        .edit-profile-form-container {
            height: calc(100% - 5rem);
            padding-bottom: 2rem;
        }


        .personal-information {

            //==================basic-info===========================//
            .basic-info__parent {
                @include flexContainer(space-between, flex-start);
                flex-wrap: wrap;

                &>div {
                    flex: 1;

                    & .mat-form-field,
                    & .gender__parent {
                        min-width: 18rem;
                        width: 90%;
                    }
                }

                .pi-right {

                    margin-left: 1rem;
                    @include flexContainer(space-between, stretch);
                    flex-direction: column;

                    &>div {
                        @include flexContainer(flex-end, center);
                    }

                    .gender__parent {
                        @include flexContainer(space-evenly, center);
                        min-height: 4.8rem;
                        @include paddingHorizontal(1.5rem, 1.5rem);

                        & .mat-radio-group {
                            display: flex;

                            & .mat-radio-button {
                                margin-left: 1.5rem;
                            }
                        }
                    }
                }
            }

            //===================basic-info=========================//
            .heading {
                margin: 2rem 0 3rem 0;
            }

            .address__parent {
                @extend .basic-info__parent;

                & .address-right {
                    margin-left: 1rem;

                    @include flexContainer(space-between, stretch);
                    flex-direction: column;

                    &>div {
                        @include flexContainer(flex-end, center);
                    }
                }
            }
        }

        .mob-edit-btn__parent {
            display: none;
        }
    }
}

@media only screen and (max-width: 1200px) {

    .edit-profile-container {


        .personal-information {

            & .mat-form-field {
                width: 100%;
            }

            & .pi-left,
            & .address-left {
                margin-left: 1rem;
            }

            & .pi-right,
            & .address-right {

                &>div {
                    justify-content: flex-start !important;
                }
            }
        }

        .edit-profile-header,
        .heading {
            padding: 1rem !important;
        }

        .edit-btn.web-edit-btn {
            display: none;
        }

        & .mob-edit-btn__parent {
            display: block !important;
            margin: 2rem 0 2rem 0;

            &>.edit-btn {
                @include button;
                letter-spacing: 0.065rem;
            }
        }
    }
}



//=============================edit profile responsive======================//

@media only screen and (max-width:600px) {
    .edit-profile-container {
        flex-direction: column;

        .edit-profile-left__parent {

            @include flexContainer(flex-start, center);
            flex-direction: column;

            .profile-picture-container {
                order: 1;
            }

            .profile-links-container__parent {
                max-height: 4rem;

                .list-group {
                    flex-direction: row;

                    .item {
                        margin-left: 1rem;
                    }
                }
            }
        }

        .edit-profile-right__parent {
            padding: 3rem;

            .edit-profile-header {
                padding-right: 0;

                p {
                    font-size: 1.1rem;
                }
            }

        }
    }
}