@import "../../app-variables";
@import "../../mixins";
@import "../../common";

$search-header:#213067;
$search-result-color:#BECFFF;

.search-page-container {
    min-height: calc(100vh - 6.5rem);
    padding-bottom: 1rem;
    height: auto;

    .search-page-header__parent {
        background-color: $search-header;
        min-height: 15rem;
        @include flexContainer(center, center);
        flex-direction: column;
        padding: 2rem;

        .search-header-title {
            color: #fff;
            letter-spacing: 0.07rem;
            margin-bottom: 2rem;
        }
    }

    .no-search-result__parent {
        margin-top: 2rem;
        font-size: 1rem;
        letter-spacing: 0.05rem;
    }

    .empty_search-input__parent {
        @extend .no-search-result__parent;
    }

    .result-label {
        @extend .no-search-result__parent;
        margin-bottom: 3rem;
    }

    .search-result {
        border: 1px solid $search-result-color;
        color: #000;
        background: $search-result-color;
        margin-top: 1rem;
        min-height: 6rem;
        min-width: 38rem;
        padding: 1rem 2rem;
        border-radius: 0.3rem;
        @include flexContainer(flex-start, center);

        .user-icon__component {
            height: 3rem;
            width: 3rem;
            font-size: 3rem;
        }

        .details {
            flex: 1;
            padding: 1rem;

            p {
                letter-spacing: 0.05rem;
                margin-bottom: 0;
            }

            p:nth-child(1) {
                font-size: 1rem;
            }

            p:nth-child(2) {
                font-size: 0.7rem;
            }
        }

        .action {
            justify-self: flex-end;
            flex-wrap: wrap;

            button {
                @include button;
                font-size: 0.65rem;
                margin-left: 1rem;
                box-shadow: none;
                @include inlineFlexContainer(space-between, center);

                &.btn-success {
                    background-color: #1e7e34;
                    border: 0.01rem solid #1e7e34;
                }

                .mat-icon {
                    font-size: 0.7rem;
                    height: 0.7rem;
                    width: 0.8rem;
                }
            }
        }
    }


    //==========================search result=================
    .search-page-result__parent {
        .has-search-result__parent {
            max-width: 45rem;
            margin: auto;
        }
    }
}


@media only screen and(min-width:600px) {
    .search-page-result__parent {
        min-height: 15rem;
    }
}

@media only screen and(max-width:600px) {
    .search-page-result__parent {
        padding: 1rem;

        .search-result {
            min-width: 90%;
            max-width: 95%;
            margin: 1rem;
            padding: 2.5rem 1rem;
            display: flex;
            flex-direction: column;

            .details {
                text-align: center;
            }

            .action {
                text-align: center;

                .view-profile-btn {
                    margin: 0;
                }

                .view-profile-btn+button {
                    margin-left: 1rem;
                }
            }
        }
    }
}