@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', "Helvetica Neue", sans-serif;
}

*::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

html {
    font-size: 16px;
    min-width: 25rem;
    width: 100vw;
    min-height: 30rem;
}


html,
body {
    height: 100%;
}

.night-mode {
    filter: invert(100%);
}



button[disabled],
a[disabled] {
    pointer-events: none;
    cursor: not-allowed;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}



.mx-0 {
    margin: 0 !important;
}


.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-content-space-btwn {
    justify-content: space-between;
}

/**/
.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}


/*material*/
.mat-form-field-outline-start,
.mat-form-field-outline-gap,
.mat-form-field-outline-end {
    border-width: 0.0625rem !important;
}



.login-dialog {
    min-width: 15rem !important;
}



button:disabled {
    cursor: not-allowed;
}

/*-global styles-*/
.app-burger-menu {
    display: none;
}

@media only screen and (max-width:768px) {
    .app-burger-menu {
        display: inline-flex;
        margin-right: 10px;
        width: 30px;
        height: auto;
    }
}



//=-================================
.edit-btn {}


//==================================